<!DOCTYPE html>
<html>
<head>
    <title>ChocoHouse</title>
</head>
<body>
    <h1>ChocoHouse</h1>
    <h2>Menu</h2>
    <ul>
        <li>Seasonal Flavor Offerings
            <ul>
                <li><a href="/add_flavor">Add Flavor</a></li>
                <li><a href="/list_flavors">List Flavors</a></li>
            </ul>
        </li>
        <li>Ingredient Inventory
            <ul>
                <li><a href="/add_ingredient">Add Ingredient</a></li>
                <li><a href="/list_ingredients">List Ingredients</a></li>
            </ul>
        </li>
        <li>CustomerSuggestions
            <ul>
                <li><a href="/add_suggestion">Add Suggestion</a></li>
                <li><a href="/list_suggestions">List Suggestions</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>
